body {
    background-color: #2F3635; 
}

img {
    max-width: 100%;
     -webkit-filter: grayscale(100%);
    filter: grayscale(30%);
    z-index: -1;
} 

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   /* padding: 50px;*/
   width:100%;
   max-width:1000px;
   margin:0 auto;
}

#ret {
    margin: 5px;
    padding: 5px;
    background-color: #2F3635;
    color: #ffffff;


}

h1 {
    display: flex;
    justify-content: left;
    padding-top: 4rem;
    font-size: 50px;
    color:#FFFFFF;
    
}

#menu {
   display: flex;
   justify-content:center;
   margin-top: 40px;
   gap: 10px;
   color: white;
   
   
}













