body {
    background-color: #2F3635; 
}

img {
    max-width: 100%;
     -webkit-filter: grayscale(100%);
    filter: grayscale(30%);
    z-index: -1;
} 

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   /* padding: 50px;*/
   width:100%;
   max-width:1000px;
   margin:0 auto;
}

article {
    margin: 5px;
    padding: 5px;
    background-color: #2F3635;
    color: #ffffff;


}

h1 {
    display: flex;
    justify-content: left;
    padding-top: 4rem;
    font-size: 50px;
    color:#FFFFFF;
    
}

#menu {
   display: flex;
   justify-content:center;
   margin-top: 40px;
   gap: 10px;
   color: white;
   
   
}






#popup {
    position: fixed; /*den står hvor den skal*/
    top: 100px;
    left: 250px;
    width: 100%; /* fulde
    height: 100%; /* Fulde højde */
    /* overflow: scroll; */
    display: none; /* gemt by default */
    z-index: 1; /* ligger øverst på siden*/
    
  
   
}

#popup article {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    
    /* border-radius: 25px; */
    background-color: white;
    padding: 3rem;
    border-color: solid black;
    border: 3px solid #483E35;
    color:#323232;
   
    
    
    
}

#popup article h3 p { 
    top: 0;

    
}


#luk {
position: fixed;
padding: 1em;
font-size: 1.7em;
font-weight: bolder;
color: black;
cursor: pointer;
}






