h1 {
  font-size: var(--overskrift_1);
}

h2 {
  font-size: var(--overskrift_2);
}

h3 {
  font-size: var(--overskrift_3);
}

p {
  max-width: 76ch;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color_1);
}

header {
  background-color: var(--color_3);
}

/* 
CSS til navbaren */

nav {
  display: flex;
  height: 90px;
  width: 100%;
  background: var(--color_3);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  width: 200px;
  cursor: pointer;
  padding: 10px 0;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  /* border-radius: 10px; */
  letter-spacing: 1px;
  /* transition: all 0.3s ease; */
}
nav ul li a.active,
nav ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: absolute;
    top: 80px;
    left: -100%;
    background: #2f615c;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 1;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}
/* CSS til andet */
main {
  margin: 0 auto;
}

main h1 {
  margin: 8% 0;
  text-align: center;
}

.splash_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.splashbillede {
  background-image: url(../billeder/splashbillede.webp);
  grid-column: 1/8;
  grid-row: 1/2;
  height: 100vh;
  background-size: 170%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.splash_grid article {
  grid-column: 1/8;
  grid-row: 1/2;
  text-align: center;
  place-self: center;
}

.splash_grid article h2 {
  font-weight: 100;
}

.splash_grid button {
  display: none;
}

.splash_grid > .pilned {
  display: none;
}
.pilned {
  margin: 15% 0 5%;
}

.pilned_hop {
  animation-name: pilned_hop_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes pilned_hop_kf {
  0% {
    transform: translatey(30%);
  }
  50% {
    transform: translatey(0%);
  }
  100% {
    transform: translatey(30%);
  }
}

.button {
  display: none;
  text-decoration: none;
}

.pilned a {
  display: block;
}

.pilned img {
  max-width: 30%;
  display: block;
  margin: 0 auto;
}

.grid_1 article {
  margin: 25% 0;
}

.grid_1 article img {
  margin: 0 auto -10%;
  max-width: 70%;
  display: block;
}

.grid_1 article h3 {
  text-align: center;
  margin: 10%;
}

.koncept_tekst {
  margin: 40% 5% 0;
}
.koncept_tekst h1 {
  text-align: center;
  margin: 10% auto;
}

.koncept_tekst p {
  margin: 2% auto;
}

.grid_1_3 {
  margin: 20% auto;
}
.grid_1_3 article {
  margin: 10% 7%;
  aspect-ratio: 1/1;
  display: grid;
}

.oevelser {
  background-image: url(../billeder/loeber_paa_trapper.webp);
  background-size: 100%;
  background-position: 51% 70%;
}

.kost {
  background-image: url(../billeder/morgenmad.webp);
  background-size: 100%;
  background-position: 27% 65%;
}

.coaching {
  background-image: url(../billeder/loeber_sammen.webp);
  background-size: 100%;
  background-position: 52% 70%;
}
.til_andre_sider {
  columns: 1/1;
  place-self: end center;
  background-color: var(--color_3);
  padding: 2% 14%;
}

/* Her styles oevelse.html */

.kategorier ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 15%;
}

.kategorier ul li {
  list-style-type: none;
}

.kategorier button {
  background-color: var(--color_3);
  border: none;
  border-radius: 7px;
  min-width: 100px;
  padding: 8% 0;
  margin: 5%;
}

.kategorier button:hover {
  color: var(--color_1);
}

.kategorier .valgt {
  background-color: var(--color_2);
}

/* kategoribar til kost siden */
.kategorier_kost ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin: 0 15%;
  list-style: none;
}

.ret_detaljer_container {
  margin: 0 5%;
}

.ret_detaljer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2%;
}

.ret_container {
  margin: 10% auto 30%;
  cursor: pointer;
}

.ret_container p {
  font-weight: 100;
  margin: 3% 0;
}

.billede {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px;
  height: auto;
  aspect-ratio: 16/9;
  margin-bottom: 2%;
}

.kategorier_kost button {
  background-color: var(--color_3);
  border: none;
  border-radius: 7px;
  min-width: 100px;
  padding: 8% 0;
  margin: 5%;
  cursor: pointer;
}

.kategorier_kost button:hover {
  color: var(--color_1);
}

.kategorier_kost .valgt {
  background-color: var(--color_2);
}

.oevelser_grid {
  margin: 10% 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 0 4%;
}
.oevelse_container {
  display: grid;
  margin: 10% auto 30%;
  cursor: pointer;
}

.oevelse_container img {
  max-width: 100%;
  background-color: #fff;
  height: 220px;
  padding: 5%;
  aspect-ratio: 16/9;
  border-radius: 7px;
}

.oevelse_container h3 {
  margin: 3% 0;
}

.oevelse_container p {
  font-weight: 100;
  margin: 3% 0;
}

.oevelse_container strong {
  font-weight: 700;
}
.muskelgruppe_og_knap {
  display: flex;
  justify-content: space-between;
}
.maaltid_og_knap {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.oevelse_container button {
  background-color: var(--color_3);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  min-width: 100px;
  padding: 1%;
  min-height: 40px;
  place-self: end end;
}
#ret {
  display: grid;
  margin: 10% auto 30%;
  cursor: pointer;
}

.maaltid_og_knap button {
  background-color: var(--color_3);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  min-width: 100px;
  padding: 1%;
  min-height: 40px;
  place-self: end end;
}

.oevelser_detaljer_container {
  margin: 0 5%;
}

.oevelser_detaljer_container h3 {
  margin: 10% auto;
}

.oevelser_detaljer_container p {
  max-width: 76ch;
  line-height: 140%;
}
.oevelser_detaljer_container strong {
  font-weight: 700;
}

.oevelse_detaljer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2%;
}

iframe {
  width: 100%;
  margin: 0 auto;
  height: auto;
  aspect-ratio: 16/9;
  margin-bottom: 2%;
}
/*  Her styles footer */
footer {
  background-color: #fff;
}
footer article {
  margin: 20% 5%;
}

.til_top {
  padding: 20% 0 0;
  display: flex;
  justify-content: center;
}

.til_top img {
  max-width: 40%;
}

footer h3,
footer p {
  color: black;
  text-align: center;
}

footer h3 {
  margin: 5% 0;
}

footer p {
  margin: 5% 0;
}

.social_media {
  display: flex;
  justify-content: space-evenly;
}

.social_media img {
  max-width: 20%;
}

.copyright {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 0 auto;
  order: 3;
}

@media screen and (min-width: 530px) {
  .splashbillede {
    background-size: 170%;
    background-position: 50% 50%;
  }

  .grid_1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .kategorier ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .kategorier_kost ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .oevelse_detaljer h3 {
    margin: 0;
  }

  .footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2% 0;
    margin: 0 auto;
    max-width: 1200px;
  }

  .footer_container article {
    order: 1;
    margin: 0;
  }

  .til_top {
    order: 2;
    padding: 0;
  }
}

@media screen and (min-width: 830px) {
  main > h1 {
    text-align: start;
    margin: 3% 5% 5%;
  }

  .splash_container {
    margin: 5% auto;
    max-width: 1200px;
  }

  .splash_grid {
    margin: 0 5%;
  }

  .splash_grid > .pilned {
    display: inline-block;
    grid-column: 4/5;
    width: 300px;
  }

  .splashbillede {
    grid-column: 1/6;
    height: 60vh;
    background-size: 100%;
    background-position: 50% 35%;
  }

  .splash_grid article {
    padding: 5% 2%;
    min-width: 320px;
  }

  .splash_grid article h1 {
    margin: 0% auto 6%;
  }

  .splash_grid article .button {
    display: inline-block;
    grid-column: 4/6;
    background-color: white;
    border: none;
    border-radius: 25px;
    color: var(--color_1);
    padding: 4% 14%;
    margin: 10% auto 0;
    font-weight: 700;
  }
  .pilned1 {
    display: none;
  }

  .splash_grid article {
    grid-column: 5/8;
    background-color: var(--color_3);
  }

  .koncept_tekst {
    margin: 0 5%;
  }

  .koncept_tekst h1 {
    margin: 5% auto;
    text-align: start;
  }

  .koncept_tekst h2 {
    margin-bottom: 1%;
  }
  .koncept_tekst p {
    margin: 0;
  }

  .grid_1_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 10% auto;
  }

  .kategorier ul {
    grid-template-columns: repeat(6, 1fr);

    margin: 0 auto;
    max-width: 900px;
  }

  .oevelser_grid {
    margin: 2% 5%;
  }
}
